extends layout

block content
  .container
    form(id="translate", method="post", action="/get-translation")
      label(for="fromlanguage") Input Language
      select(name="fromlanguage")
        for language in fromLangs
          option(value="#{language}") #{language}
      label(for="targetlanguage") Target Language
      select(name="targetlanguage")
        for language in toLangs
          option(value="#{language}") #{language}
      input(type="text", name="word", placeholder="Word to translate...")
      input(type="submit")
    if result
      h3=result.translation
